.contTable{
    background-color: white;
}
.tableCart{
    background-color: white;
    text-align: center;
}
.numItem{
    width: 20px;
}
.unitItem{
    width: 20px;
}
.tot{
    width: 100px;
    text-align: end;
}

.itemRow{
    width: 88%;
    text-align: justify;
}