.finishBtn {
  padding: 5px;
}
.sendCtn {
  text-align: end;
}

.logInCtn {
  text-align: center;
}

.cancelBtn {
  text-align: center;
}

.swal2-styled.swal2-confirm {
  background-color: #062855 !important;
}
